<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Information</h5>
          <p>Email: <a href="mailto:pavankalyanssmunagala@gmail.com" class="text-white">pavankalyanssmunagala@gmail.com</a></p>
          <p>Phone: <a href="tel:+918309307344" class="text-white">8309307344</a></p>
          <p>Location: Hyderabad, Telangana, 500018, India</p>
        </div>
        <div class="col-md-4">
          <h5>Connect with Me</h5>
          <ul class="list-unstyled">
            <li><a href="https://linkedin.com/in/pavan-kalyan-muangala-4771081a1" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
            <li><a href="https://github.com/pavankalyan31" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-github"></i> Github</a></li>
            <li><a href="https://www.youtube.com/@PavanKalyanWOLF" target="_blank" rel="noopener noreferrer" class="text-white"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>About Me</h5>
          <p>Dedicated UI Developer with a passion for web development and gaming. Skilled in HTML, CSS, Bootstrap, JavaScript, and Angular. Strong problem-solving abilities, with a proven track record of successful projects and YouTube channel management. Eager to enhance user experiences and contribute to innovative web and game development.</p>
        </div>
      </div>
      <div>
        <p class="text-center mt-3">&copy; 2024 MUNAGALA SRI SAI PAVAN KALYAN. All rights reserved.</p>
      </div>
    </div>
  </footer>
  